.card {
  width: 100%;
  height: 180px;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.card-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-content h3,
.card-content p {
  margin: 0px;
  font-family: cursive;
  text-align: center;
}

.card-content p {
  color: gray;
}
