.header {
  width: 100vw;
  height: 80px;
  top: 0;
  left: 0;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  position: fixed;

  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  width: 70%;
  height: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 64px;
  height: 100%;
}

.logo img {
  width: 100%;
  height: 90%;
  cursor: pointer;
}

.items ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
  font-size: 1rem;
  font-weight: bold;
  font-family: cursive;
}

.items li {
  cursor: pointer;
}

.items li:hover {
  color: rgb(92, 173, 74);
}

.active-link {
  color: rgb(92, 173, 74);
}

.main-section {
  width: 100%;
  min-height: 100vh;
  height: calc(100% - 80px);
  background-color: #f7f7f7;

  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 70%;
  height: 100%;
}
